.banner {
    margin-top: 80px;
    display: grid;
    grid-template-areas:
        "image"
        "conteudo"
        "arrow";
    align-items: center;
    position: relative;
}

.banner__image {
    grid-area: image;
}

.banner__content {
    grid-area: conteudo;
}

.blob-container {
    width: clamp(308px, 50vw, 500px);
}

.blob {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner__content {
    flex: 1.1;
    display: grid;
    row-gap: 20px;
    overflow: hidden;
}

.banner__content h1 {
    text-transform: uppercase;
    transition: margin-left .1s ease;
}

.show__element .banner__content a {
    color: var(--color-white);
}

.arrow {
    grid-area: arrow;
    position: relative;
    margin-top: 40px;
    position: absolute;
    top: 0px;
    left: 50%;
}

.arrow_one,
.arrow_two,
.arrow_three {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.arrow_one {
    top: -10px;
    width: 30px;
    animation: showImage 2s infinite 2s;
}

.arrow_two {
    top: 0px;
    width: 50px;
    animation: showImage 2s infinite 2.1s;
}

.arrow_three {
    top: 10px;
    width: 70px;
    animation: showImage 2s infinite 2.2s;
}

@keyframes showImage {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (min-width: 769px) {
    .banner {
        margin-top: 80px;
        grid-template-areas:
            "image conteudo"
            "arrow arrow";
        grid-template-columns: .5fr 2fr;
        min-height: calc(100vh - 120px);
        align-items: center;
        justify-content: center;
    }

    .arrow {
        margin-top: 0px;
    }

}