:root {
    --font-heebo: 'Heebo', sans-serif;
    --font-roboto: 'Roboto', sans-serif;

    --color-back: #000000;
    --color-white: #ffffff;
    --color-light-gray: #4F4F4F;
    --color-bg-site: #f3f3f3;
    --color-linear-left-blue: rgba(0, 212, 255, 1);
    --color-linear-right-blue: rgba(0, 77, 153, 1);
    --color-dark-gray: rgb(65 65 65);
    --color-border: #cfcfcf;
    --color-text-footer: #f1dddd;
}

* {
    box-sizing: border-box
}

html {
    scroll-behavior: smooth;
    position: relative;
}

#page {
    background-color: var(--color-bg-site);
}

.wrapper {
    max-width: 1126px;
    padding-left: 15px;
    padding-right: 20px;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}

h1,
h2,
h3,
h4,
h6 {
    font-family: var(--font-heebo);
}

h1 {
    font-size: clamp(40px, 5.5vw, 78px);
    font-weight: bold;
    color: var(--color-back);
}

h2 {
    font-size: clamp(28px, 4vw, 38px);
    font-weight: bold;
    text-align: center;
}

h3 {
    font-size: 30px;
    line-height: 18px;
}

h4 {
    font-size: 21px;
}

h5,
p,
span,
a {
    font-family: var(--font-roboto);
}

h5,
h6 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.8px;
}

p,
input,
textarea {
    font-size: clamp(14px, 2.4vw, 16px);
    line-height: 20px;
    color: var(--color-light-gray);
}

a {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1.5px;
    color: var(--color-linear-right-blue);
}

a:visited{
    color: var(--color-linear-right-blue);
}

span {
    font-size: 14px;
    font-weight: normal;
    color: var(--color-light-gray);
}

.button {
    background-image: linear-gradient(to left, var(--color-linear-right-blue) 48%, var(--color-linear-left-blue) 100%);
    background-size: 200% auto;
    border-radius: 4px;
    max-width: 150px;
    height: 40px;
    display: grid;
    place-content: center;
    transition: background-position 300ms linear 0s;
    width: 100%;
}

.button:hover {
    background-position: right center;
}

.separator--content{
    width: 100%;
}

@media screen and (min-width: 769px) {
    h2 {
        text-align: left;
    }
}