.footer {
    background-color: var(--color-dark-gray);
    min-height: 30vh;
    box-shadow: 0px 21px 36px 25px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.footer__container {
    width: 100%;
    display: grid;
    grid-template-areas:
        "logo logo"
        "other other"
        "social social"
        "copy copy";
    row-gap: 20px;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.footer__container--other {
    grid-area: other;
    display: grid;
    row-gap: 10px;
    color: var(--color-white);
}

.other__menu--list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: 0;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}

.other__menu--list.active{
    height: auto;
    max-height: 500px;
    padding-left: 10px;
}

.fa-solid.active{
    transform: rotate(180deg);
}

.footer__title--menu{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.footer__title--menu h4, .footer__container--social h4{
    font-size: 18px;
}

.other__menu--list li a{
    color: var(--color-white);
    position: relative;
}

.other__menu--list li a::after{
    content: '';
    width: 0%;
    transition: width .3s ease;
}

.other__menu--list li a:hover::after{
    content: '';
    position: absolute;
    bottom: -7px;
    height: 2px;
    background-color: var(--color-white);
    display: block;
    width: 100%;
    left: 0;
}

.footer__container--social {
    grid-area: social;
    grid-area: social;
    display: grid;
    gap: 20px;
    color: var(--color-white);
}

.footer__container--copy {
    grid-area: copy;
    gap: 20px;
}

.footer__container--copy p {
    color: var(--color-text-footer);
    text-align: center;
}

.footer__container--logo {
    grid-area: logo;
    height: 40px;
    position: relative;
    display: flex;
    /* gap: 20px; */
}

.footer__logo--title {
    color: var(--color-white);
    transition: transform .3s ease;
    transform: scale(1);
}

.footer__logo--title:hover {
    transform: scale(1.1);
}

.footer__container--logo img {
    max-width: 120px;
    height: auto;
    width: 100%;
    object-fit: cover;
}

.footer__social {
    display: flex;
    gap: 10px;
}

.footer__social a {
    width: 30px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.footer__social svg,
.footer__social span {
    transition: transform .3s ease;
}

.footer__social span {
    display: flex;
    align-items: center;
    font-size: 2rem;
    position: absolute;
    left: -3px;
}

.footer__social svg path,
.footer__social span {
    fill: var(--color-white);
    color: var(--color-white);
}

.footer__social a:hover svg,
.footer__social a:hover span {
    transform: translate(-3px);
}

@media screen and (min-width: 769px) {
    .footer__container {
        grid-template-areas:
            "logo other social"
            "copy copy copy";
        grid-template-columns: 100px 1fr 112px;
        gap: 40px;
    }

    .footer__container--other {
        display: grid;
        justify-content: center;
    }

    .other__menu--list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 10px;
        height: auto;
        max-height: 100%;
    }

    .footer__title--menu i {
        display: none;
    }

    .footer__container--copy p {
        text-align: left;
    }
}