.main__single {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    row-gap: 20px;
    flex-direction: column;
}

.single__header {
    position: absolute;
    min-height: clamp(25vh, 23vw, 35vh);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: rgb(230, 230, 230);
    flex-direction: column;
    row-gap: 20px;
    padding: 0 20px;
}

.single__title {
    font-size: clamp(30px, 5.5vw, 48px);
    text-align: center;
    max-width: 1091px;
    position: relative;
    z-index: 1;
    color: #ffffff;
    text-shadow: 4px 3px 5px black;
}

.single__header--image {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .9;
}

.single__header--tags {
    display: flex;
    column-gap: 10px;
}

.single__content {
    margin-top: clamp(28vh, 28vw, 35vh);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.single__content--breadcrumbs {
    display: block;
}

.single__content--breadcrumbs span{
    text-decoration: underline;
}

.single__content--position {
    display: grid;
    gap: 30px;
    margin-top: 40px;
}

.single__column--left {
    display: grid;
    row-gap: 20px;
}

.single__column--left p {
    line-height: 25px;
}

.single__column--left figure img {
    border-radius: 8px;
}

/* Releated Posts  */
.releated__posts {
    display: grid;
    row-gap: 35px;
    margin-bottom: 60px;
    position: relative;
    z-index: 3;
}

.releated__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.releated__post--card {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 250px;
    align-items: center;
    max-height: 224px;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
    max-width: 345px;
    width: 100%;
}

.releated__post--card img {
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
    transition: scale .3s ease, rotate .3s ease;
}

.releated__post--card:hover img {
    scale: 1.2;
    rotate: 5deg;
}


.releated__card--content {
    width: 100%;
    background: linear-gradient(to top, black, transparent);
    padding: 0px 10px 90px 10px;
    position: absolute;
    bottom: 0;
    height: 90px;
    transition: height .3s ease-in-out;
}

.releated__card--content a,
.releated__card--content p {
    color: var(--color-white);
}

.projects__cards~.button {
    color: var(--color-white);
}

.single__aside {
    display: none;
}

@media screen and (min-width: 769px) {

    .single__content--breadcrumbs {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .single__content--position {
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin-top: 80px;
    }

    .single__column--right {
        border-radius: 8px;
        overflow: hidden;
        position: relative;
    }

    .single__aside {
        background-color: var(--color-white);
        padding: 15px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: static;
        z-index: 2;
        max-width: clamp(245px, 29.8vw, 353.66px);
        /* min-height: 353.66px; */
        height: auto;
        width: 100%;
        row-gap: 30px;
        border: 1px solid #1e8dfc;
        border-radius: 8px;
    }

    .single__aside__active--top {
        background-color: purple;
    }

    .single__aside__active--bottom {
        background-color: crimson !important;
        position: absolute;
        bottom: 0px;
    }

    .single__aside__content {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        width: 100%;
    }

    .single__aside__content h3 {
        text-align: center;
        width: 100%;
        font-size: clamp(16px, 3.1vw, 30px);
    }

    .single__aside__content h3::after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: var(--color-border);
        display: flex;
        margin-top: 10px;
    }

    .single__aside__content--icons {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        justify-content: center;
        max-height: 74px;
        overflow: hidden;
    }

    .single__aside__content--icons span {
        flex: 1 1 30px;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .single__aside__content--icons i {
        font-size: 2rem;
        transition: color .3s ease;
    }

    .single__aside__content--icons i:hover {
        color: var(--color-dark-gray);
    }

    .single__aside__content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .single__aside__content--acf a {
        transition: color .3s ease;
    }

    .single__aside__content--acf a:hover {
        color: var(--color-dark-gray);
    }

    .releated__post--card:hover .releated__card--content {
        height: 160px;
    }

    .releated__card--content a {
        bottom: 20px;
        position: absolute;
        transition: bottom .3s ease-in-out, color .3s ease-in-out;
    }

    .releated__post--card a:hover {
        color: var(--color-linear-right-blue);
    }

    .releated__post--card:hover a {
        position: absolute;
        bottom: 80px;
    }

    .releated__card--content p {
        bottom: -60px;
        position: absolute;
        max-width: 240px;
        transition: bottom .3s ease-in-out;
        max-width: 320px;
    }

    .releated__post--card:hover p {
        bottom: 20px;
    }
}

@media screen and (max-width: 320px) {

    .releated__post--card {
        max-width: 290px;
    }
}

/* Animations */
.single__header{
    position: absolute;
    min-height: clamp(25vh, 23vw, 35vh);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: rgb(230, 230, 230);
    flex-direction: column;
    row-gap: 20px;
    padding: 0 20px;
    overflow: hidden;
}

.single__header--image{
    scale: 1.5;
    animation: imageGrow 30s forwards;
}

@keyframes imageGrow {
    0%{
        scale: 1.5;
    }

    100%{
        scale: 1;
    }
}